.places {
	padding-left: 20px;
	padding-top: 20px;
}

.places h1 {
	font-size: 30px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20x;
	border: solid #FF5A5F 1px
	border-radius: 4px;
}

.places h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	color: #FF5A5F;
	border: solid #FF5A5F 4px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
}
.price_by_night p {
	margin-top: 15px;
	margin-right: 4px;
}
.information {
	display: flex;
	height: 80px;
	border-top: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
	flex-direction: row;
	justify-content: center;
}
.information p {
	padding-top: 30px;
}
.max_guest, .number_rooms, .number_bathrooms {
	width: 100px;
	text-align: center;
}
.max_guest {
	margin-left: auto
	margin-right: auto
	background: url('../images/icon_group.png') no-repeat;
}
.number_rooms{
	margin-left: auto
	margin-right: auto
	background: url('../images/icon_bed.png') no-repeat;
}
.number_bathrooms{
	margin-left: auto
	margin-right: auto
	background: url('../images/icon_bath.png') no-repeat;
}